@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white text-bega-text-1;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-bega-bg-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-bega-border-2 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-bega-border-3;
  }
}

@layer utilities {
  .typing-dot-1 { animation: typing-dot 1.4s infinite ease-in-out; }
  .typing-dot-2 { animation: typing-dot 1.4s infinite ease-in-out 0.2s; }
  .typing-dot-3 { animation: typing-dot 1.4s infinite ease-in-out 0.4s; }
}
